h1 {
    font-family: "parabolica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 110px;
    color: white;
    line-height: 100px;
    padding: 50px;
}
body {
    font-family: "parabolica", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    font-size: 50px;
    padding: 50px;
}

.questionaire {
    text-align: left;
}

.story {
    text-align: center;
}

.beginnings {
    text-align: right;
}

a:link {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: #ffffff;
}