h1 {
    font-family: "pf-pixelscript", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 210px;
    line-height: 210px;
    padding-top: 150px;
}
body {
    font-family: "trilby", serif;
    color: #015a2a;
    font-weight: 400;
    font-style: normal;
    background-color: #a4daf6;
    margin: 50px;
}

a:link {
    color: #15a336;
}
a:visited {
    color: #15a336;
}
a:hover {
    color: #ffffff;
}