.module {
    background-image: url(images/gradient-4.jpg);
  }

  
.left {
    top: 50%;
    left: 2%;
    width: 100px;
    position: absolute;
    top: 50%;
  }
  
.right {
    top: 50%;
    left: 90%;
    width: 100px;
    position: absolute;
    top: 50%;
  }

  button {
    background-color: transparent;
    border: transparent;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    color: #FEEECD;
    background-color: ;
    margin: 0;
    position: absolute;
    top: 10%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-shadow : 0 0 10px #FEEECD;
    z-index: 1;
  }
  
  .left {
    animation: floatAnimation1 3s infinite alternate ease-in-out;
  }
  
  .right {
    animation: floatAnimation2 4s infinite alternate ease-in-out;
  }
  
  @keyframes floatAnimation1 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(50px);
    }
  }
  
  @keyframes floatAnimation2 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(50px);
    }
  }


.circle {
    animation: rotation 20s infinite linear;
    z-index: -1;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }


  body {
    margin: 0;
  }
  
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#floating-element {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

  