@font-face {
    font-family: TriptychGrotesque;
    src: url(fonts/TriptychTest-Grotesque.otf);
}
@font-face {
    font-family: TriptychItalic;
    src: url(fonts/TriptychTest-Italick.otf);
}
@font-face {
    font-family: TriptychRoman;
    src: url(fonts/TriptychTest-Roman.otf);
}
@font-face {
    font-family: AppleGaramondLight;
    src: url(Fonts/AppleGaramond-Light.ttf);
}
@font-face {
    font-family: AppleGaramondItalic;
    src: url(Fonts/AppleGaramond-LightItalic.ttf);
}

FFEA00
.border{
    width: 100%;
    height: 100%;
}
body{
    background-color: #F5F5F5;
    height: 15000px;
    width: 100%;
    padding-left: 0px;
    padding-right: 850px;
    max-width: 100%;
    overflow-x: hidden;
}

h1{
    font-family: TriptychRoman;
    font-size: 60px;
    text-align: center;
    padding-top: 18%;
    text-shadow : 0 0 32px white;
    color: black;
    -webkit-text-stroke-width: 0.1px;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    height: 100%;
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(255, 213, 0),
        0 0 82px rgb(255, 238, 0),
        0 0 92px rgb(255, 242, 0),
        0 0 102px rgb(255, 247, 0),
        0 0 181px rgb(251, 255, 0);
}

h1:hover{
    color: #FFEA00;
}
.italic{
    font-family: TriptychItalic;
}

.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: absolute;
    top: 250px;
    width: 200px;
    margin-left: 5%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.floating:hover{
    filter: none;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }    
}

.floating2 {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: absolute;
    top: 250px;
    width: 200px;
    margin-left: 78%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.name {
    position: absolute;
    margin-top: 1000px;
    font-size: 15px;
    color: black;
    transition: font-size 0.3s;
    font-family: triptychitalic;
    cursor: pointer; /* Change cursor to pointer on hover */
    z-index: 0;
    background-color: white;
    transition: transform 0.3s ease; /* Smooth transition for transform */
    padding: 10px;
    border-radius: 25px;
    border: solid black;
    opacity: 80%;
}

.name:hover {
    transform: scale(1.5);
    background-color: #FFEA00;
    max-width: 100%;
    opacity: 100%;
    font-size: 20;
}

.namesContainer{
    margin-top: 1000px;
    max-width: 100px;
}

.marquee-content{
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling 15s linear infinite;
}
@keyframes scrolling{
    0% {
        transform: translateX(0vw)
    }
    100% {
        transform: translateX(-180vw)
    }
}
.marquee-content li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    flex-shrink: 0;
    font-size: 20px;
    white-space: nowrap;
}

.text{
    background-color: #FFEA00;
    padding: 10px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-family: triptychroman;
    font-size: ;
}

.marquee{
    position: fixed;
    top:0;
}
/*marquee 2*/

.marquee-content2{
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling2 15s linear infinite;
}
@keyframes scrolling2{
    100% {
        transform: translateX(0vw)
    }
    0% {
        transform: translateX(-180vw)
    }
}
.marquee-content2 li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    flex-shrink: 0;
    font-size: 20px;
    white-space: nowrap;
}

.text2{
    background-color: #FFEA00;
    padding: 10px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-family: triptychroman;
}

.marquee2{
    bottom: 0;
    position: fixed;
}

/* CSS for name container and person container */
#namesContainer {
    display: flex;
    flex-wrap: wrap;
}

.person {
    position: relative;
    margin: 10px;
}

/* CSS for name */
.name {
    cursor: pointer;
}

/*#scrollButton {
    position: sticky;
    : 900px;
    top: 50px;
    font-family: triptychroman;
    font-size: 20px;
    padding: 10px;
    border: 1.5px solid black;
    background-color: white;
    border-radius: 20px;
}*/

#scrollButton {
    position: fixed;
    right: 20px; /* Adjust as needed */
    top: 90px; /* Adjust as needed */
    font-family: triptychroman;
    font-size: 20px;
    padding: 0px;
    border: 1.5px solid #F5F5F5;
    background-color: #F5F5F5;
    border-radius: 20px;
    transform: rotate(-90deg)
}


#scrollButton:hover {
    color: #FFEA00;
}

#scrollButtonBottom {
    position: absolute;
    right: calc(50% - 40px); /* Center horizontally */
    top: 14900px;
    font-family: triptychroman;
    font-size: 20px;
    padding: 10px;
    border: 1.5px solid #F5F5F5;
    background-color: #F5F5F5;
    border-radius: 20px;
    z-index: -1;
}

#scrollButtonBottom:hover {
    background-color: #FFEA00;
}

.date{
    font-family: triptychroman;
    font-size: 15px;
    text-align: center;
    margin-top: 400px;
    z-index: -1;   
}

.years{
    align-items: center;
    top: 900px;
    margin-left: 41%;
    margin-top: 30px;
}

.year1{
    font-family: triptychroman;
    font-size: 15px;
    padding: 10px;
    border: 1.5px solid black;
    background-color: white;
    border-radius: 20px;
}
.year2{
    font-family: triptychroman;
    font-size: 15px;
    padding: 10px;
    border: 1.5px solid black;
    background-color: white;
    border-radius: 20px;
}
.year3{
    font-family: triptychroman;
    font-size: 15px;
    padding: 10px;
    border: 1.5px solid black;
    background-color: white;
    border-radius: 20px;
}
.year4{
    font-family: triptychroman;
    font-size: 15px;
    padding: 10px;
    border: 1.5px solid black;
    background-color: white;
    border-radius: 20px;
}

.year1:hover{
    background-color: #FFEA00;
}
.year2:hover{
    background-color: #FFEA00;
}
.year3:hover{
    background-color: #FFEA00;
}
.year4:hover{
    background-color: #FFEA00;
}

.year1:active{
    background-color: #FFEA00;
}
.year2:active{
    background-color: #FFEA00;
}
.year3:active{
    background-color: #FFEA00;
}
.year4:active{
    background-color: #FFEA00;
}



.highlight {
    background-color: #FFEA00; /* Yellow */
}